@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--foreground-rgb: 27, 27, 27;
		--background-start-rgb: 214, 219, 220;
		--background-end-rgb: 255, 255, 255;

		--radius: 8px;
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		appearance: none;
		-moz-appearance: textfield;
	}

	body {
		color: rgb(var(--foreground-rgb));
		background: linear-gradient(to bottom, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
	}
}

@layer base {
	.grd-light {
		@apply bg-gradient-to-r from-violet-300/20 via-slate-50 to-violet-200/10;
	}
	.grd-lighter {
		@apply bg-gradient-to-b from-indigo-50/50 via-slate-50 to-violet-50;
	}
	.grd-header {
		@apply bg-gradient-to-r from-gray-50  via-slate-100 to-white;
	}
}

@layer components {
	.input-field {
		@apply h-[42px] max-h-[42px] rounded-sm border border-gray-200 px-md py-xs text-body-sm text-gray-500 focus:border-transparent focus:outline-0 focus:ring-2 focus:ring-violet-400 focus-visible:outline-0 disabled:cursor-not-allowed disabled:text-gray-300 disabled:opacity-50 aria-[invalid]:border-red-600 aria-[invalid]:ring-red-600 aria-[invalid]:focus:border-transparent;
	}

	.textarea-field {
		@apply h-[256px] max-h-[412px] min-h-[128px] rounded-sm border border-gray-200 px-md py-xs text-body-sm text-gray-500 focus:border-transparent focus:outline-0 focus:ring-2 focus:ring-violet-400 focus-visible:outline-0 disabled:cursor-not-allowed disabled:text-gray-300 disabled:opacity-50 aria-[invalid]:border-red-600 aria-[invalid]:ring-red-600 aria-[invalid]:focus:border-transparent;
	}

	.nav-item {
		@apply relative mb-lg flex cursor-pointer px-md transition duration-75 ease-in-out last:mb-0;
	}

	.nav-anchor {
		@apply flex h-full w-full rounded-lg px-xs py-sm hover:bg-violet-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-violet-700 [&>span]:ml-xs;
	}

	.nav-item.active {
		@apply text-purple-900 before:absolute before:left-0 before:h-full before:w-1 before:bg-purple-900 before:content-[''];
	}
}
